@tailwind base;
@tailwind components;
@tailwind utilities;

.border-element {
  outline: 2px solid red;
}

.navbar-width {
  max-width: 760px;
}

.dropdown-box {
  filter: drop-shadow(-1.236px 3.804px 7.5px rgba(0, 0, 0, 0.34));
  background-color: rgba(51, 151, 226, 0.8);
}

.hero-bg {
  background-color: rgba(51, 151, 226, 0.8);
  padding-top: 330px;
  padding-bottom: 160px;

  background-image: linear-gradient(263deg, rgba(15, 37, 71, 0.9999999999999999) 0%, rgba(34, 51, 77, 0) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-main-elemeng-bg {
  max-width: 1352px;
  min-height: 228px;
  border: 1px solid rgba(51, 151, 226, 0.8);
  background-image:  linear-gradient(96deg, rgba(1, 72, 128, 0.9999999999999999) 0%, rgba(2, 73, 128, 0) 100%);
}


